# Dependencies

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#  Data Frames

In [8]:
companies = pd.DataFrame(pd.read_csv("companies.csv"))
payments = pd.DataFrame(pd.read_csv("payments.csv"))
physicians = pd.DataFrame(pd.read_csv("physicians.csv"))

In [9]:
print(physicians.columns)
print(companies.columns)
print(payments.columns)

Index(['id', 'set', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix',
       'City', 'State', 'Zipcode', 'Country', 'Province', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5'],
      dtype='object')
Index(['Company_ID', 'Name', 'State', 'Country'], dtype='object')
Index(['Record_ID', 'Physician_ID', 'Company_ID',
       'Total_Amount_of_Payment_USDollars', 'Date', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Ownership_Indicator',
       'Third_Party_Recipient', 'Charity', 'Third_Party_Covered',
       'Contextual_Information', 'Related_Product_Indicator', 'Product_Code_1',
       'Product_Code_2', 'Product_Code_3', 'Product_Type_1', 'Product_Type_2',
       'Product_Type_3', 'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [10]:
speciality = physicians['Primary_Specialty'].unique().tolist()

In [11]:
temp=payments[payments['Ownership_Indicator']=='Yes']
only_yes=temp['Contextual_Information'].unique().tolist()

In [12]:
import numpy as np
key_nature_1 = 'Compensation for services other than consulting, including serving as faculty or as a speaker at a venue other than a continuing education program'
key_nature_2 = 'Current or prospective ownership or investment interest'
key_nature_3 = 'Royalty or License'
ids = physicians['id'].unique().tolist()
payments['Total_Amount_of_Payment_USDollars'] = payments['Total_Amount_of_Payment_USDollars'].fillna(0)
physicians['amount'] = ''
physicians['number_of_payments'] = ''
physicians['payment_form'] = ''
physicians['none_occurance'] = ''
physicians['number_of_companies'] = ''
physicians['has_ownership'] = ''
#physicians['unique_pn'] = ''
#physicians['average_amount'] = ''
physicians['has_key_nature'] = ''
physicians['has_key_context'] = ''


column_list = physicians.columns.tolist()

for i, pid in enumerate(ids):
    pid_frame = payments[payments['Physician_ID']==pid]
    
    list_ownership = pid_frame['Ownership_Indicator'].tolist()
    cindex = column_list.index('has_ownership')
    if 'Yes' in list_ownership or 'yes' in list_ownership :
        physicians.iloc[i,cindex] = 1
    else:
        physicians.iloc[i,cindex] = 0
        
    cindex = column_list.index('amount')   
    physicians.iloc[i,cindex] = pid_frame['Total_Amount_of_Payment_USDollars'].sum()
    cindex = column_list.index('number_of_payments')   
    physicians.iloc[i,cindex] = pid_frame['Number_of_Payments'].sum()
    
    
    form_pay_1=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Cash or cash equivalent'].shape[0]
    form_pay_2=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Stock'].shape[0]
    form_pay_3=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Stock option'].shape[0]
    form_pay_4=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Dividend, profit or other return on investment'].shape[0]
    form_pay_5=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Stock, stock option, or any other ownership interest'].shape[0]
    form_pay_6=pid_frame[pid_frame['Form_of_Payment_or_Transfer_of_Value']=='Any other ownership interest'].shape[0]


    cindex = column_list.index('payment_form')
    physicians.iloc[i,cindex] = form_pay_1+form_pay_1+form_pay_2+form_pay_3+form_pay_4+form_pay_5+form_pay_6
    
    cindex = column_list.index('none_occurance')
    physicians.iloc[i,cindex] = pid_frame['Related_Product_Indicator'].tolist().count('None')
    
    cindex = column_list.index('number_of_companies')
    physicians.iloc[i,cindex] = len(pid_frame['Company_ID'].unique().tolist())
    
    pn1 = pid_frame['Product_Name_1'].unique().tolist()
    if 'nan' in pn1:
        unique_pn1 = len(pn1)-1
    else:
        unique_pn1 = len(pn1)-1
    
    pn2 = pid_frame['Product_Name_2'].unique().tolist()
    if 'nan' in pn2:
        unique_pn2 = len(pn2)-1
    else:
        unique_pn2 = len(pn2)-1
    
    pn3 = pid_frame['Product_Name_3'].unique().tolist()
    if 'nan' in pn3:
        unique_pn3 = len(pn3)-1
    else:
        unique_pn3 = len(pn3)-1
    #cindex = column_list.index('unique_pn')
    #physicians.iloc[i,cindex] = unique_pn1+unique_pn2+unique_pn3
    
    #cindex = column_list.index('average_amount')
    #physicians.iloc[i,cindex]=float(pid_frame['Total_Amount_of_Payment_USDollars'].sum()/pid_frame.shape[0])
    
    cindex = column_list.index('has_key_nature')
    nature_list = pid_frame['Nature_of_Payment_or_Transfer_of_Value'].unique().tolist()
    physicians.iloc[i,cindex]=nature_list.count(key_nature_1)+nature_list.count(key_nature_2)+nature_list.count(key_nature_3)
    
    cindex = column_list.index('has_key_context')
    context_list = pid_frame['Contextual_Information'].tolist()
    total_context=0
    for l in only_yes:
        total_context = total_context+context_list.count(l)
    physicians.iloc[i,cindex]=total_context
    
    cindex =  column_list.index('Primary_Specialty')
    physicians.iloc[i,cindex] = speciality.index(physicians.iloc[i,cindex])

In [14]:
#physicians['average_amount'] = physicians['average_amount'].apply(pd.to_numeric)
physicians['amount'] = physicians['amount'].apply(pd.to_numeric)

In [15]:
physicians[physicians['has_ownership']==0].head(50)

,id,set,First_Name,Middle_Name,Last_Name,Name_Suffix,City,State,Zipcode,Country,Province,Primary_Specialty,License_State_1,License_State_2,License_State_3,License_State_4,License_State_5,amount,number_of_payments,payment_form,none_occurance,number_of_companies,has_ownership,has_key_nature,has_key_context
0,1,train,LEIGH,B,HOPPE,NaN,FORT PIERCE,FL,34950,UNITED STATES,NaN,0,FL,NaN,NaN,NaN,NaN,952.93,47,8,0,18,0,0,46
1,2,train,STEVEN,NaN,FRANK,NaN,TOWSON,MD,21204-6808,UNITED STATES,NaN,1,MD,NaN,NaN,NaN,NaN,120924.92,154,144,0,13,0,1,149
2,3,train,THOMAS,NaN,COUCH,JR.,TROY,NY,12180-2832,UNITED STATES,NaN,2,NY,NaN,NaN,NaN,NaN,3523.93,132,78,0,15,0,0,132
3,4,train,CLAUDE,NaN,SU,NaN,SAVANNAH,GA,31419-1753,UNITED STATES,NaN,3,GA,SC,AL,NaN,NaN,26745.61,411,262,7,32,0,1,386
4,5,train,ROBERT,C,SCHENCK,NaN,ALBUQUERQUE,NM,87131-0001,UNITED STATES,NaN,4,NM,NaN,NaN,NaN,NaN,25411.21,98,32,0,13,0,0,54
6,7,train,CHRISTOPHER,R,GRABER,NaN,SALINA,KS,67401-4189,UNITED STATES,NaN,6,KS,NaN,NaN,NaN,NaN,5822.78,55,6,0,7,0,0,53
7,8,train,DEEPA,S,PATEL,NaN,SPOTSWOOD,NJ,08884-1262,UNITED STATES,NaN,7,NJ,NaN,NaN,NaN,NaN,2396.00,157,0,0,16,0,0,104
8,9,train,CARLA,NaN,OSKA GERAK,NaN,ROYAL OAK,MI,48073-6712,UNITED STATES,NaN,8,MI,NaN,NaN,NaN,NaN,921.98,28,2,0,14,0,0,27
9,10,train,SARANG,N,DESAI,NaN,ALLEN,TX,75013-5289,UNITED STATES,NaN,9,MI,TX,NaN,NaN,NaN,167075.04,141,82,2,34,0,1,121
10,11,train,JAMES,E,RICE,NaN,PINEHURST,NC,28374,UNITED STATES,NaN,10,NC,NaN,NaN,NaN,NaN,12709.72,311,122,2,42,0,0,279
11,12,train,Stephanie,NaN,Poole,NaN,MARIETTA,GA,30060-1386,UNITED STATES,NaN,11,GA,NaN,NaN,NaN,NaN,572.23,23,12,0,8,0,0,22
12,13,train,TIMOTHY,JAY,BUSSICK,NaN,FORT WAYNE,IN,46804-2231,UNITED STATES,NaN,12,IN,NaN,NaN,NaN,NaN,659.00,29,24,1,7,0,0,29
13,14,test,GEORGE,NaN,SIDHOM,NaN,SPRING HILL,FL,34609-1834,UNITED STATES,NaN,13,FL,NaN,NaN,NaN,NaN,5775.53,543,112,7,35,0,0,521
14,15,train,SUMITH,NaN,ALETI,NaN,CLERMONT,FL,34711-1962,UNITED STATES,NaN,14,TX,AR,FL,VA,WV,14626.95,423,226,8,39,0,0,351
15,16,train,KENNETH,K,NG,NaN,ROCKVILLE CENTRE,NY,11570-1000,UNITED STATES,NaN,15,NY,NaN,NaN,NaN,NaN,16447.75,45,14,6,12,0,0,35
16,17,train,CHAIM,NaN,FISHFELD,NaN,INWOOD,NY,11096-2135,UNITED STATES,NaN,16,NY,NaN,NaN,NaN,NaN,1379.94,35,0,1,14,0,0,35
17,18,test,IAN,M,STORCH,NaN,NEW HYDE PARK,NY,11042,UNITED STATES,NaN,17,NY,NaN,NaN,NaN,NaN,92123.24,584,200,3,46,0,1,556
18,19,train,SARAH,ANNE,SANDBERG,NaN,BIRMINGHAM,AL,35243-2382,UNITED STATES,NaN,18,MO,AL,UT,NaN,NaN,63146.60,464,286,1,25,0,1,410
19,20,train,CHRISTOPHER,TATE,MILLER,NaN,CHICAGO,IL,60639-1924,UNITED STATES,NaN,19,IA,IL,NaN,NaN,NaN,3099.17,162,16,0,20,0,0,158
20,21,train,DEREK,A,OTT,NaN,LOS ANGELES,CA,90024,UNITED STATES,NaN,20,CA,NaN,NaN,NaN,NaN,310294.56,1276,670,1,36,0,1,1194
21,22,train,SERGIO,FIQUEROQ,REAL,NaN,DAVIE,FL,33328-2018,UNITED STATES,NaN,12,FL,NaN,NaN,NaN,NaN,1615.42,24,16,2,8,0,0,23
22,23,train,WALLY,NOBLEZA,NOVERO,NaN,HERMITAGE,PA,16148,UNITED STATES,NaN,20,PA,NaN,NaN,NaN,NaN,7398.22,103,2,0,10,0,0,97
24,25,train,JUAN,L,QUINTERO,NaN,LOUISVILLE,KY,40207-4905,UNITED STATES,NaN,21,KY,NaN,NaN,NaN,NaN,6691.74,88,14,0,15,0,0,88
25,26,train,JAROSLAW,R,LESZCZAK,NaN,PARK RIDGE,IL,60068-1411,UNITED STATES,NaN,7,IL,NaN,NaN,NaN,NaN,6788.98,393,46,0,41,0,0,355
26,27,train,TSZ,Y,LAU,NaN,TAMPA,FL,33606-3603,UNITED STATES,NaN,22,FL,NaN,NaN,NaN,NaN,55553.00,234,208,2,24,0,0,204
27,28,train,RONNIE,A,HERSHMAN,NaN,LAKE SUCCESS,NY,11042-1215,UNITED STATES,NaN,14,NY,NaN,NaN,NaN,NaN,5619.51,355,82,8,37,0,0,252
28,29,train,PAULINE,NaN,WATSON,NaN,SAGINAW,MI,48602-5182,UNITED STATES,NaN,3,MI,PA,NaN,NaN,NaN,4534.13,247,76,3,32,0,0,188
29,30,train,COLLEEN,NaN,LINEHAN,NaN,SAGINAW,MI,48602-5182,UNITED STATES,NaN,9,MI,MN,NaN,NaN,NaN,8732.77,67,44,1,12,0,0,66
30,31,train,HAITHAM,R,DIB,NaN,GALLOWAY,NJ,08205-4487,UNITED STATES,NaN,3,PA,NJ,NaN,NaN,NaN,253482.51,1326,568,1,49,0,1,977
31,32,train,ALEXANDRE,R,ABREU,NaN,MIAMI,FL,33136-1005,UNITED STATES,NaN,23,FL,SC,NaN,NaN,NaN,14676.99,44,52,0,6,0,1,44
33,34,train,DAVID,M,POPPERS,NaN,REGO PARK,NY,11374-3319,UNITED STATES,NaN,17,NY,NaN,NaN,NaN,NaN,56162.05,220,134,0,28,0,0,208
34,35,train,SANJAI,NaN,RAO,NaN,SAN DIEGO,CA,92161-0001,UNITED STATES,NaN,20,CA,NaN,NaN,NaN,NaN,479471.70,595,594,0,6,0,1,350
35,36,train,KANUBHAI,NaN,PATEL,NaN,CANTON,OH,44718-2933,UNITED STATES,NaN,20,OH,NaN,NaN,NaN,NaN,19179.26,569,178,1,28,0,1,482
36,37,train,CHARLES,B,HOWARTH,NaN,PINEHURST,NC,28374-8710,UNITED STATES,NaN,7,NC,NY,NaN,NaN,NaN,1529.38,96,26,0,21,0,0,88
38,39,train,DIANE,L,KALLGREN,NaN,BOULDER,CO,80301-1880,UNITED STATES,NaN,25,CO,CA,NaN,NaN,NaN,58412.97,381,174,9,36,0,1,365
39,40,train,PENELOPE,A,BARKER,NaN,SAINT CLAIR SHORES,MI,48080-1775,UNITED STATES,NaN,7,MI,NaN,NaN,NaN,NaN,1649.52,118,8,1,21,0,0,95
40,41,train,MARY,D,TIPTON,NaN,SOUTH JORDAN,UT,84095-3211,UNITED STATES,NaN,8,OH,UT,NaN,NaN,NaN,12533.58,456,54,3,48,0,0,402
41,42,test,AIMAN,M,ABBOUD,NaN,BROOKLYN,NY,11235-5606,UNITED STATES,NaN,6,NY,NaN,NaN,NaN,NaN,3159.49,180,16,3,27,0,0,180
42,43,train,RITA,NaN,LANTNER-TARRASH,NaN,CORAL SPRINGS,FL,33065-4108,UNITED STATES,NaN,26,FL,NaN,NaN,NaN,NaN,3145.38,117,26,0,14,0,0,115
43,44,train,JOHN,C,ZIMMERMAN,NaN,BAKERSFIELD,CA,93311,UNITED STATES,NaN,27,CA,NaN,NaN,NaN,NaN,9611.18,33,6,0,9,0,0,31
44,45,train,JAY,NaN,SILVERMAN,NaN,BEVERLY HILLS,CA,90210-5134,UNITED STATES,NaN,28,CA,NaN,NaN,NaN,NaN,846.26,27,0,0,6,0,0,27
45,46,test,MARIA,NaN,MARIN,NaN,DETROIT,MI,48236-2148,UNITED STATES,NaN,11,MI,NaN,NaN,NaN,NaN,1614.34,64,4,0,17,0,0,60
46,47,test,PETER,N,KAUFMAN,NaN,BETHESDA,MD,20817-1106,UNITED STATES,NaN,17,DC,MD,NaN,NaN,NaN,6494.00,296,42,2,31,0,0,275
47,48,train,MARCUS,A,BUTTON,NaN,CANON CITY,CO,81212-4911,UNITED STATES,NaN,29,CO,NaN,NaN,NaN,NaN,1148.67,81,4,3,19,0,1,67
48,49,train,ANDREA,J,GOETHALS,NaN,GRAND BLANC,MI,48439-2441,UNITED STATES,NaN,16,MI,NaN,NaN,NaN,NaN,10549.35,73,24,0,22,0,0,71
49,50,train,JEFFREY,B,ARNOLD,NaN,MOUNT MORRIS,MI,48458-8963,UNITED STATES,NaN,29,MI,NaN,NaN,NaN,NaN,3097.30,260,24,0,32,0,0,227
50,51,train,JACKSON,NaN,LIM,NaN,YUBA CITY,CA,95991-2960,UNITED STATES,NaN,2,CA,NaN,NaN,NaN,NaN,2753.17,83,14,1,25,0,0,81
51,52,train,TIMOTHY,NaN,JOHNSON,NaN,OCALA,FL,34471-4621,UNITED STATES,NaN,30,FL,NaN,NaN,NaN,NaN,1478.40,16,4,0,7,0,0,16
52,53,test,MANESH,NaN,PARIKSHAK,NaN,INDIANAPOLIS,IN,46237,UNITED STATES,NaN,31,MI,IN,IL,NaN,NaN,89072.96,470,338,0,41,0,1,444
53,54,train,EDWIN,TAK-WING,CHAN,NaN,ARCADIA,CA,91007-7603,UNITED STATES,NaN,29,CA,NaN,NaN,NaN,NaN,2197.81,125,6,1,19,0,1,116

In [16]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.decomposition import PCA

data = physicians[['id', 'set', 'amount', 'number_of_payments','payment_form', 'none_occurance', 
'has_ownership','number_of_companies','has_key_nature','has_key_context','Primary_Specialty']]

scaler = MinMaxScaler()
scaler.fit(data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','has_key_nature','has_key_context']])

data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','has_key_nature','has_key_context']] = scaler.transform(data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','has_key_nature','has_key_context']])
'''
pca = PCA(n_components=9)
pca.fit(data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','unique_pn','average_amount','has_key_nature','has_key_context']])
print(pca.explained_variance_ratio_)
data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','unique_pn','average_amount','has_key_nature','has_key_context']] = pca.transform(data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
'number_of_companies','unique_pn','average_amount','has_key_nature','has_key_context']])
'''
train_data = data[data['set']=='train'][['id','amount', 'number_of_payments','payment_form', 'none_occurance', 
'has_ownership','number_of_companies','has_key_nature','has_key_context','Primary_Specialty']]
test_data = data[data['set']=='test'][['id','amount', 'number_of_payments','payment_form', 'none_occurance', 
'has_ownership','number_of_companies','has_key_nature','has_key_context','Primary_Specialty']]

train_physicians = train_data['id']
train_data_for_models = train_data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
                                    'number_of_companies','has_key_nature','has_key_context','Primary_Specialty']]
train_labels = train_data['has_ownership']

test_physicians = test_data['id']
test_data_for_models = test_data[['amount', 'number_of_payments','payment_form', 'none_occurance', 
                                   'number_of_companies','has_key_nature','has_key_context','Primary_Specialty']]
test_labels = test_data['has_ownership']

/home/saadi/anaconda3/envs/app/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/saadi/anaconda3/envs/app/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [17]:
train_data_for_models.head(10)

,amount,number_of_payments,payment_form,none_occurance,number_of_companies,has_key_nature,has_key_context,Primary_Specialty
0,0.000076,0.011635,0.003010,0.000000,0.209877,0.000000,0.016502,0
1,0.010946,0.043556,0.054176,0.000000,0.148148,0.333333,0.054272,1
2,0.000309,0.036993,0.029345,0.000000,0.172840,0.000000,0.048038,2
3,0.002413,0.120227,0.098570,0.032710,0.382716,0.333333,0.141181,3
4,0.002292,0.026850,0.012039,0.000000,0.148148,0.000000,0.019435,4
5,0.000233,0.007757,0.004515,0.023364,0.148148,0.333333,0.010634,5
6,0.000517,0.014021,0.002257,0.000000,0.074074,0.000000,0.019069,6
7,0.000207,0.044451,0.000000,0.000000,0.185185,0.000000,0.037770,7
8,0.000073,0.005967,0.000752,0.000000,0.160494,0.000000,0.009534,8
9,0.015127,0.039678,0.030850,0.009346,0.407407,0.333333,0.044004,9

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

oversample = SMOTE(k_neighbors=10, random_state=42)
X, y = oversample.fit_resample(train_data_for_models, train_labels)

rf_model =  RandomForestClassifier(max_depth=None, n_estimators=300, random_state=42)
rf_model.fit(X,y)

RandomForestClassifier(n_estimators=300, random_state=42)

In [46]:
rf_model.feature_importances_

array([0.09939601, 0.08556042, 0.15258127, 0.16660958, 0.09372548,
       0.14552599, 0.08076417, 0.17583707])

In [47]:
pred = rf_model.predict(train_data_for_models).tolist()
print(classification_report(train_labels, pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4700
           1       1.00      1.00      1.00       300

    accuracy                           1.00      5000
   macro avg       1.00      1.00      1.00      5000
weighted avg       1.00      1.00      1.00      5000

In [48]:
pred = rf_model.predict(test_data_for_models).tolist()
print(pred.count(1))
test_physicians = test_data['id'].tolist()

79

In [49]:
import csv
csv_file_columns = ['id','prediction']
csv_file = open("submission_intellectual_koala.csv", 'w')
csv_writer = csv.DictWriter(csv_file, fieldnames = csv_file_columns)
csv_writer.writeheader()

for pid, prediction in zip(test_physicians, pred):
    row = {'id' : pid, 'prediction' : prediction }
    csv_writer.writerow(row)
csv_file.close()